${VENDOR_NAME} ${VENDOR_JAVA_NAME} is a build of OpenJDK that is verified to be compliant with the Java SE
specification using OpenJDK Technology Compatibility Kit test suite.

To check ${VENDOR_NAME} ${VENDOR_JAVA_NAME} details and updates, please visit ${VENDOR_URL}.
